@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.markdown h1{
  font-size: 1.25rem;
  font-weight: 900;
  text-decoration: none;
  text-align: left;
  line-height: 1.4rem;
  font-style: normal;
  color: #495057;
  margin-bottom: 10px;
}

.markdown h4, .markdown h2, .markdown h3 {
  text-decoration: none;
  font-size: 1.15rem;
  font-weight: 700;
  text-align: left;
  line-height: 1.4rem;
  font-style: normal;
  color: #495057;
  margin-bottom: 10px;
}

.markdown ul{
  margin:10px 0;
}

.markdown p, .markdown li {
  text-decoration: none;
  font-size: .95rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.3rem;
  font-style: normal;
  color: #495057;
  margin-bottom: 10px;
}
.markdown hr{
  margin: 10px 0 30px;
}